@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}


theme-font-color: #2c2c2c;
theme-colors: (
  "primary": #005eb8
);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    size: 16px;
    color: theme-font-color;
    padding: 3rem;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.header__btn {
    @include transition-mix;

    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px;

    background-color: #fff;
    border: 1px solid $theme-font-color;
    border-radius: 3px;

    cursor: pointer;

    outline: none;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &.js-active{
        color: #fff;

        background-color: $theme-font-color;
    }
}

//header styles
.header {
    max-width: 600px;
    margin: 50px auto;

    text-align: center;
}

.header__title {
    margin-bottom: 30px;

    font: {
        size: 2.1rem;
    }
}

//content styles
.content {
    width: 95%;
    margin: 0 auto 50px;
}

.content__title {
    margin-bottom: 40px;

    font: {
        size: 20px;
    }
    text-align: center;
}

.content__title--m-sm {
    margin-bottom: 10px;
}

multisteps variables
color-secondary: #6c757d;
color-primary: #007bff;
$btn-offset-vert: 20px;
$btn-circle-decor-dimensions: 13px;

//multisteps progress styles
.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin: 1rem 0 2rem;
}

.multisteps-form__progress-btn {
    @include transition-mix($duration: .15s);

    position: relative;

    padding-top: $btn-offset-vert;

    color: rgba($color-secondary, .7);

    text-indent: -9999px;

    border: none;
    background-color: transparent;
    outline: none !important;

    cursor: pointer;

    @media (min-width: 500px) {
        text-indent: 0;
    }


    //circle decoration
    &:before {
        @include position-absolute($top: 0, $left: 50%);

        display: block;
        width: $btn-circle-decor-dimensions;
        height: $btn-circle-decor-dimensions;

        content: '';

        transform: translateX(-50%);

        transition: all .15s linear 0s,
            transform .15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;

        border: 2px solid currentColor;
        border-radius: 50%;
        background-color: #fff;

        box-sizing: border-box;

        z-index: 3;
    }

    //line decoration
    &:after {
        @include position-absolute($top: $btn-offset-vert/4, $left: calc(-50% - #{$btn-circle-decor-dimensions} / 2));
        @include transition-mix($duration: .15s);
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background-color: currentColor;
        z-index: 1;
    }


    //last child - without line decoration
    &:first-child {

        &:after {
            display: none;
        }
    }

    //active styles
    &.js-active {
        color: $color-primary;

        &:before {
            transform: translateX(-50%) scale(1.2);

            background-color: currentColor;
        }
    }
}

//multisteps form styles
.multisteps-form__form {
    position: relative;
}

//multisteps panels styles
.multisteps-form__panel {
    @include position-absolute($top: 0, $left: 0);

    width: 100%;
    height: 0;

    opacity: 0;
    visibility: hidden;

    //active panels
    &.js-active {
        height: auto;

        opacity: 1;
        visibility: visible;
    }

    //scaleOut animation
    &[data-animation="scaleOut"] {
        transform: scale(1.1);

        &.js-active {
            @include transition-mix;

            transform: scale(1);
        }
    }

    //slideHorz animation
    &[data-animation="slideHorz"] {
        left: 50px;

        &.js-active {
            @include transition-mix($duration: .25s, $timing: cubic-bezier(0.2, 1.13, 0.38, 1.43));

            left: 0;
        }
    }

    //slideVert animation
    &[data-animation="slideVert"] {
        top: 30px;

        &.js-active {
            @include transition-mix();

            top: 0;
        }
    }

    //fadeIn animation
    &[data-animation="fadeIn"] {


        &.js-active {
            @include transition-mix($duration: .3s);
        }
    }

    //scaleOut
    &[data-animation="scaleIn"] {
        transform: scale(.9);

        &.js-active {
            @include transition-mix;

            transform: scale(1);
        }
    }
}

.wrap {
    display: flex;
}

.store-creation-wrap {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.multisteps-form {
    max-width: 600px;
    width: 100%;

    h1 {
        text-align: center;
    }
}

#storeCourse {
    display: flex;
    flex-direction: row;
}
.storeCourse-layout {
    display: flex;
    flex-direction: column;
    flex: 1;

    input[type="radio"] {
        display: none;
    }

    label {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f5f5f5;
        box-shadow: 0 0 0 3px #eee;
        padding: 1rem;
        margin: 1rem;
        border-radius: 3px;
        transition: all 250ms ease;
    }

    .fa {
        font-size: 3rem;
        color: #999;
        transition: all 250ms ease;
    }

    input[type="radio"]:checked ~ label {
        box-shadow: 0 0 0 3px #ddd,
                    0 .5rem 1rem rgba(0,0,0,.15);

        .fa {
            font-size: 3rem;
            color: #777;
        }
    }


}

:root {
    --lmsco-preview-color1: #999;
    --lmsco-preview-color2: #777;
    --lmsco-preview-text: #fff;
}

.preview-wrap {
    perspective: 1500px;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 rgba(27,27,27,.05),
                27px 62px 125px -25px rgba(55,55,55,.5),
                16px 37px 75px -37px rgba(0,0,0,.6);
    transform: perspective(3190px) rotateY(-27deg) rotateX(4deg) rotate(1deg);
    overflow: hidden;

    .placeholder-header {
        background: #ddd;
        width: 100%;
        height: 6px;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .placeholder-text {
        background: #ddd;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
    }

    .placeholder-button {
        background: var(--lmsco-preview-color1);
        width: 30px;
        height: 5px;
        border-radius: 3px;

        + .placeholder-button {
            background: var(--lmsco-preview-color2);
        }
    }

    .placeholder-image {
        background: #ddd;
        width: 40px;
        height: 30px;
        border-radius: 3px;
        margin-right: 8px;
    }

    .preview-header {
        background: var(--lmsco-preview-color1);
        display: flex;
        align-items: center;
        padding: 7px;
        transition: background-color 250ms ease;

        .placeholder-button {
            margin: 0 10px 0 auto;
            background: var(--lmsco-preview-color2);
        }
    }

    #preview-logo-image {
        max-width: 100px;
        max-height: 50px;
    }

    #preview-banner {
        background: #eee;
        height: 100px;
        overflow: hidden;
    }

    #preview-banner-image {
        width: 100%;
        max-width: 100%;
    }

    .preview-nav {
        background: var(--lmsco-preview-color1);
        transition: background-color 250ms ease;
        padding: 0 1rem;
        display: flex;

        > div {
            display: flex;
            align-items: center;

            &.active {
                background: var(--lmsco-preview-color2);
            }
        }

        .placeholder-text {
            width: 40px;
            display: inline-block;
            margin: 5px;
            background: rgba(255,255,255,.5);
        }
    }

    .preview-body {
        padding: 1rem;
        display: flex;
    }

    .preview-column {
        flex-basis: 20%;
        background: #f5f5f5;
        border-radius: 5px;
        padding: 1rem;

        .placeholder-button {
            margin: 0 auto 25px 0;
        }
    }

    .preview-content {
        display: flex;
        flex-direction: column;
        flex-basis: 78%;
        margin-left: 2%;
        background: #f5f5f5;
        border-radius: 5px;
        padding: 1rem;
    }

    .course {
        display: flex;
        flex-direction: row;
    }

    .course-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .course-buttons {
        display: flex;
        justify-content: flex-end;

        .placeholder-button {
            margin: 0 0 20px 5px;
        }
    }

    &.course-layout-grid {
        .preview-content {
            flex-direction: row;
        }

        .course {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 5px;
        }

        .course-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .placeholder-image {
            width: 100%;
            height: 40px;
            margin: 0 0 10px 0;
        }
    }

    .preview-footer {
        display: flex;
        font-size: 12px;
        font-weight: bold;
        color: var(--lmsco-preview-text);
        padding: .2rem 1rem;
        background: var(--lmsco-preview-color1);
        transition: background-color 250ms ease;

        .preview-social {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;

            .placeholder-image {
                background: var(--lmsco-preview-color2);
                width: 10px;
                height: 10px;
                border-radius: 2px;
                margin: 0 0 0 3px;
            }
        }
    }


}